@import url(/assets/css/reset.css);
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&display=swap');

.banner{
    
    height: 605px;
    background-size: cover;
    background-color: rgb(0, 0, 0);
    background-image: linear-gradient(rgba(0, 0, 0, .8), rgba(49, 168, 221, .2), rgba(0, 0, 0, .8)), url('../images/banner.png');
    border-bottom: 1px solid rgb(51, 168, 219) ;
}
.banner-content{
    padding-top: 70px;
    margin: 0px auto;
    width: 510px;
    height: 393px;
    text-align: center;
}

.center-head{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 248px;
    height: 248px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    margin: 0px auto;
}

.banner-content h1{
    color: transparent;
    background: -webkit-linear-gradient(#33a8db,#1472B7);
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 40px;
    font-weight: 900;
    margin-top: 16px;
    text-transform: uppercase;
}

.banner-content p{
    color: white;
    text-align: center;
    width: 600px;
    margin-top: 16px;
    margin-bottom: 24px;
    font-size: 20px;
}

.banner-content button{
    width: 330px;
    height: 55px;
    background: -webkit-linear-gradient(#33a8db,#1472B7);
    background-clip: text;
    -webkit-background-clip: text;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 900;
    font-size: 16px;
    border-image-source: linear-gradient(#33a8db,#1472B7);
    border-image-slice: 10;
    color: transparent;
}
main{
    background-color:rgb(0, 0, 0) ;
}
#course-content{
    padding: 118px 90px;
    text-align: center;
}

.course-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#course-content h2 ,#professional-challenges h2{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 32px;
    background: -webkit-linear-gradient(#33a8db,#1472B7);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    padding-bottom: 24px;
}

#course-content p{
    margin: 0 auto;
    padding-bottom: 10px;
    width: 800px;
    color: rgba(255, 255, 255, 1) ;
}

.modules-list{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.module span{
    color: rgba(51, 168, 219, 1) ;
}

.module{
    border-radius: 57px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 550px;
    height: 55px;
    border: 1px solid;
    border-color: #33a8db;
    background-color: rgba(37, 37, 37, 1);
    color: rgba(255, 255, 255, 1);
    margin: 12px;
    box-shadow: -9px 10px 17px -5px rgba(0,0,0,1) inset;
    -webkit-box-shadow: -9px 10px 17px -5px rgba(0,0,0,1) inset;
    -moz-box-shadow: -9px 10px 17px -5px rgba(0,0,0,1) inset;
}

#transform-world{
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #33a8db;
    background-image: url(../images/woman-code.png);
    background-attachment: fixed;
    background-size: cover;
    height: 555px;
    padding: 170px 0 0 150px;
    
}

#transform-world p{
    width: 300px;
    height: 141px;
    color: white;
    font-weight: 900;
    font-size: 48px;
    text-transform: lowercase;
    filter: drop-shadow(5px 2px 0px #33A8DB);
}


#professional-challenges h2{
    margin: 100px auto;
    max-width: 800px;
    text-align: center;
    letter-spacing: 5px;
}

#professional-challenges{
    text-align: center;
}

#professional-challenges p{
    margin: 0 auto;
    color: white;
    width: 800px;
    font-weight: 400;
    font-size: 16px;
    padding: 40px 0 90px 0;
}

footer{
    border-top: 1px solid #33A8DB;
    padding-top: 40px;
    background-color: black;
    color: white;
    height: 170px;
    text-align: center;
}

footer a{
    text-decoration: none;
    color: #33A8DB;
    font-weight: 700;
}